<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handleCancel()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="handleSave()" class="edit-form">
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label position="stacked">Nome Completo</ion-label>
      <ion-input
        type="text"
        placeholder="Seu nome completo"
        [(ngModel)]="editForm.name"
        required
        name="name"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input
        type="email"
        placeholder="seu@email.com"
        [(ngModel)]="editForm.email"
        required
        name="email"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input
        type="tel"
        placeholder="11999999999"
        [(ngModel)]="editForm.phone"
        name="phone"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="document-text-outline" slot="start"></ion-icon>
      <ion-label position="stacked">CPF</ion-label>
      <ion-input
        type="text"
        placeholder="000.000.000-00"
        [ngModel]="editForm.cpf"
        (ionInput)="onCpfInput($event)"
        maxlength="14"
        name="cpf"
      ></ion-input>
    </ion-item>

    <div class="form-actions">
      <ion-button expand="block" type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Salvando...' : 'Salvar Alterações' }}
      </ion-button>
      <ion-button expand="block" fill="outline" (click)="handleCancel()" [disabled]="isLoading">
        Cancelar
      </ion-button>
    </div>
  </form>
</ion-content>

