<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/prestador/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="servicos" href="/prestador/servicos">
      <ion-icon aria-hidden="true" name="business-outline"></ion-icon>
      <ion-label>Serviços</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/prestador/perfil">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="loja" href="/prestador/loja">
      <ion-icon aria-hidden="true" name="storefront-outline"></ion-icon>
      <ion-label>Loja</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

