<ion-header>
  <ion-toolbar>
    <ion-title>Selecione a Data</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
      <ion-button (click)="confirm()">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="datetime-container">
    <ion-datetime
      [(ngModel)]="selectedDate"
      [min]="minDate"
      [max]="maxDate"
      presentation="date"
      [preferWheel]="false"
      [firstDayOfWeek]="1"
      showDefaultButtons="false"
      class="datetime-picker">
    </ion-datetime>
  </div>
</ion-content>


