<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Informações do Perfil</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Informações do perfil serão exibidas aqui.</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

